<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Your Orders</ion-label>
    </ion-list-header>
    
    <ng-container *ngFor="let item of orders; let i = index">
      <ion-item>
        <ion-thumbnail slot="start" *ngIf="item?.cover">
          <ion-img [src]="item?.cover"></ion-img>
        </ion-thumbnail>
        
        <ion-label>
          <ion-text class="item">{{ item?.name }}</ion-text>
          <p class="price">
            <ion-text color="dark">DT{{ item?.price }}</ion-text>
          </p>
          <p *ngIf="item?.desc" class="ion-text-wrap ion-text-justify">
            {{ item?.desc }}
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
    
    <ion-item *ngIf="orders.length === 0" lines="none">
      <ion-label>No orders placed yet.</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
