<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your Cart</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let item of cartItems; let i = index">
          <ion-item>
            <ion-thumbnail slot="start" *ngIf="item?.cover">
              <ion-img [src]="item?.cover"></ion-img>
            </ion-thumbnail>
            
            <ion-label>
              <ion-text class="item">{{ item.name }}</ion-text>
              <p class="price">
                <ion-text color="dark">DT{{ item.price }}</ion-text>
              </p>
              <p *ngIf="item.desc" class="ion-text-wrap ion-text-justify">
                {{ item.desc }}
              </p>
            </ion-label>

            <ng-container *ngIf="!isOrdred(item)">
              <ion-button
                slot="end"
                color="success"
                (click)="order(item)"
              >Order</ion-button>
            </ng-container>
            <ion-button
              slot="end"
              color="danger"
              (click)="removeFromCart(item.id)"
            >Delete</ion-button>
          </ion-item>
        </ng-container>
        
        <ion-item *ngIf="cartItems.length === 0" lines="none">
          <ion-label>No items in your cart.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
